<html>
<head>
<title>login.html</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <script type="text/javascript" src="./dog_files/jquery.js"></script>
 <script type="text/javascript" src="./dog_files/cleverdog.js"></script>
</head>
<body><font size="5">
  <p>请联系范炜昕！</p>
  <a href="./index.jst?mid=1">返回</a>
</body>
</html>
