<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta charset="utf-8" />
 <title>CleverDog</title>
 <link rel="dns-prefetch" href="http://www.cleverdog.cn/" />
 <link rel="stylesheet" type="text/css" href="./dog_files/cleverdog.css" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
 <meta name="format-detection" content="telephone=no" />
 <meta name="apple-mobile-web-app-capable" content="yes" />
 <meta name="apple-mobile-web-app-status-bar-style" content="black" />
 <script type="text/javascript" src="./dog_files/jquery.js"></script>
 <script  type="text/javascript">
  $(function(){        
    //获取要定位元素距离浏览器顶部的距离
    var navH = $(".nav").offset().top;
    //滚动条事件
    $(window).scroll(function(){
      //获取滚动条的滑动距离
      var scroH = $(this).scrollTop();
      //滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
      if(scroH>=navH){
        $(".nav").css({"position":"fixed","top":0,"left":0});
      }else if(scroH<navH){
        $(".nav").css({"position":"static","margin":"0 auto"});
      }
      //console.log(scroH==navH);
    })
  })
 </script>
</head>

<body>

<div class="global">
 <div class="header">
  <h1 class="logo logonews"><a href="./index.jst?mid=1">机灵狗</a></h1>
 </div>
 <div class="nav">
   <ul>
    <li class="<% get_ch(1); %>"><a href="./index.jst?mid=1">作业</a></li>
    <li class="<% get_ch(2); %>"><a href="./index.jst?mid=2">活动</a></li>
    <li class="<% get_ch(3); %>"><a href="./index.jst?mid=3">科普</a></li>
    <li class="<% get_ch(4); %>"><a href="./index.jst?mid=4">消息</a></li>
   </ul>
 </div>

<div class="gallery">

<div class="galleryimage">
<a href="./page.jst?mid=<% get_page(1);%>" class="galleryinner"><img
 src="<% get_pic(1);%>" /> </a></div>
<h2 class="gallerytitle"><% get_title(1); %></h2>
</div>

<div class="list">
<ul>
  <li class="full">
    <div class="thumb">
    <a href="./page.jst?mid=<% get_page(2);%>"><img
    src="<% get_pic(2);%>"/> </div>
    <h2><% get_title(2); %></h2>
    <p><% get_text(2); %></p>
    <h3 class="meta"><% get_auth(2); %><time><% get_time(2); %></time></h3></a>
  </li>
  
  <li class="full">
    <div class="thumb">
    <a href="./page.jst?mid=<% get_page(3);%>"><img
    src="<% get_pic(3);%>"/></div>
    <h2><% get_title(3); %></h2>
    <p><% get_text(3); %></p>
    <h3 class="meta"><% get_auth(3); %><time><% get_time(3); %></time></h3></a>
  </li>
  
  <li class="full">
    <div class="thumb">
    <a href="./page.jst?mid=<% get_page(4);%>"><img
    src="<% get_pic(4);%>"/></div>
    <h2><% get_title(4); %></h2>
    <p><% get_text(4); %></p>
    <h3 class="meta"><% get_auth(4); %><time><% get_time(4); %></time></h3></a>
  </li>
  
  <li class="full">
    <div class="thumb">
    <a href="./page.jst?mid=<% get_page(5);%>"><img
    src="<% get_pic(5);%>"/></div>
    <h2><% get_title(5); %></h2>
    <p><% get_text(5); %></p>
    <h3 class="meta"><% get_auth(5); %><time><% get_time(5); %></time></h3></a>
  </li>
  
  <li class="full">
    <div class="thumb">
    <a href="./page.jst?mid=<% get_page(6);%>"><img
    src="<% get_pic(6);%>"/></div>
    <h2><% get_title(6); %></h2>
    <p><% get_text(6); %></p>
    <h3 class="meta"><% get_auth(6); %><time><% get_time(6); %></time></h3></a>
  </li>
  
  <li class="photo"><h2><% get_title(7); %></h2>
    <div class="thumb">
    <a href="./page.jst?mid=<% get_page(7);%>"><img src="<% get_pic(7);%>"/>
    </div><p><% get_text(7); %></p></a>
  </li>
  
  <li class="photo"><h2><% get_title(8); %></h2>
    <div class="thumb"> 
    <a href="./page.jst?mid=<% get_page(8);%>"><img src="<% get_pic(8);%>"/>
    </div><p><% get_text(8); %></p></a>
  </li>

  <li class="full">
    <div class="thumb">
    <a href="./page.jst?mid=<% get_page(9);%>"><img
    src="<% get_pic(9);%>"/></div>
    <h2><% get_title(9); %></h2>
    <p><% get_text(9); %></p>
    <h3 class="meta"><% get_auth(9); %><time><% get_time(9); %></time></h3></a>
  </li>

  <li class="full">
    <div class="thumb">
    <a href="./page.jst?mid=<% get_page(10);%>"><img
    src="<% get_pic(10);%>"/></div>
    <h2><% get_title(10); %></h2>
    <p><% get_text(10); %></p>
    <h3 class="meta"><% get_auth(10); %><time><% get_time(10); %></time></h3></a>
  </li>

 </ul>
</div>

<div class="more"> <a href="./index.jst?mid=1"> <span class="gomore">点击查看更多</span> </a> </div>

</div>

<div class="footer">
 <div class="copyright"> 
  Copyright &copy; 1998 - 2015 CleverDog. All Rights Reserved
 </div>
</div>

</body>
</html>
