<html>
<head>
<title>login.html</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <script type="text/javascript" src="./dog_files/jquery.js"></script>
 <script type="text/javascript" src="./dog_files/cleverdog.js"></script>
</head>
<body><font size="5">
  <p>请登录</p>
  <form id="logmein" name="logmein">
    姓名 <input type="text" id="username" name="username" value=''><br/>
    密码 <input type="password" id="password" name="password" value=''><br/>
    <button type="button" onclick="loginwebsite()"><font size="5">登录</button>
    <div id="loginerror"></div>
    <div id="loginok"></div>
  </form>
</body>
</html>
