<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <title><% get_title(1); %></title>
 <link rel="dns-prefetch" href="http://www.cleverdog.cn/" />
 <link rel="stylesheet" type="text/css" href="./dog_files/cleverdog.css"/>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
 <meta name="format-detection" content="telephone=no"/>
 <meta name="apple-mobile-web-app-capable" content="yes"/>
 <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
 <script type="text/javascript" src="./dog_files/jquery.js"></script>
 <script type="text/javascript" src="./dog_files/cleverdog.js"></script>
 <script  type="text/javascript" src="./dog_files/touch.js">  </script>
</head>

<body>
 <div class="global">
  <div class="header">
   <h1 class="logo logonews"><a href="./exe/returnIndex?mid=<% get_page(0);%>">机灵狗</a></h1>
	 <span class="gochannels"></span>
  </div>

   <div id="login" class="login"> 
    <div id="web_login" style="display: block;"> <!--web_login-->
  <form id="logmein" name="logmein">
     <ul id="g_list">
      <li id="g_u"><input id="username" class="inputstyle" name="username" autocomplete="off" placeholder="姓名" /></li> 
      <li id="g_p"><input id="password" class="inputstyle" maxlength="16" type="password" name="password" autocorrect="off" placeholder="学号" /></li>
     </ul>
     <div id="go" class="weak">登 录 </div> 
     <div href="javascript:void(0);" id="onekey" style="display: none;">一键登录 </div> 
  </form>
    </div> <!--web_login-->
    <div id="switch"> 
      <span id="zc" onclick="window.open('./register.html')">注册新帐号</span> 
      <span id="loginerror" ></span> 
      <span id="forgetpwd" onclick="window.open('./forgot.html')">忘了密码？</span> 
    </div> 
    <input id="user" name="admin" value="<% get_login(1); %>" showpage="hidden" hidden></div>
   </div>

</div>
  
  <div style="clear:both"></div>
  <div class="primary"><h1 class="title" id="mytitleDiv" ><% get_title(1); %></h1>
 
   <div class="meta">
    <span class="time"><% get_time(1); %></span>
    <span class="author"><% get_auth(1); %></span>
    <span class="contentbar">
      <a href="./action/deletePage?mid=<% get_page(0);%>"><i class="delete" hidden></i></a>
      <a href="./upload.jst?mid=<% get_page(0);%>"><i class="uploader"  hidden></i></a>
      <a href="javascript:replaceDoc('./exe/nextPage?mid=<% get_page(0);%>&next_last=1')"><i class="last"></i></a>
      <a href="javascript:replaceDoc('./exe/nextPage?mid=<% get_page(0);%>&next_last=0')"><i class="next"></i></a>
    </span>
   </div>
   <div data-role="page" class="content fontlarge">
    <div class="image">
     <img src="<% get_pic(1); %>"/>
    </div>
    <p class="split" id="mytextDiv"><% get_text(1); %></p>
   </div>
   <div class="textform" id="file-text" hidden>
    <form id="pageText" >
     <div class="commenttext"> 
    <input class="titleform" type="text" id="pagetitle" name="mytitle" placeholder="主题"/>
    <textarea id="pagetext" name="mytext" placeholder="<% get_text(1); %>"> </textarea>
    <button type="button" onclick="uploadTxt(this)" value=<% get_page(0);%> >发表</button>
     </div> 
    </form>
   </div>
  </div>
 
 <div class="comments">

    <div class="commentform" hidden> 
  <form id="myComment" class="commenttext">
      <textarea id="commenttexts" name="mytitle" placeholder="文明上网，理性发言"></textarea> 
      <input id="commenttext" type="text" name="mytext" value="comment" hidden></input>
      <button type="button" onclick="uploadComment(this)" value=<% get_page(0);%> >评论</button>
  </form>
   </div> 


  <div class="commenthead" id="comcount" buttom="1024" top="1" lst_id="<% get_page(0);%>"><h2>热门评论</h2></div>
  <div class="content">
   <ul class="commentlist">
   <script> loadComment("buttom");</script>
    <!-- comment here!-->
   </ul>
  </div>

  <div class="more">
   <p><span class="gochannel">查看更多评论</span></p>
  </div>
 </div>

  <div class="footnav">
   <ul>
    <li><a href="./index.jst?mid=1">作业</a></li>
    <li><a href="./index.jst?mid=2">活动</a></li>
    <li><a href="./index.jst?mid=3">科普</a></li>
    <li><a href="./index.jst?mid=4">消息</a></li>
   </ul>
  </div>
  <div class="footer">
   <div class="copyright"> Copyright © 1998 - 2015 CleverDog. All Rights Reserved</div>
  </div>
 </div>
</body>

</html>
