<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <title><% get_title(1); %></title>
 <link rel="dns-prefetch" href="http://www.cleverdog.cn/" />
 <link rel="stylesheet" type="text/css" href="./dog_files/cleverdog.css"/>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
 <meta name="format-detection" content="telephone=no"/>
 <meta name="apple-mobile-web-app-capable" content="yes"/>
 <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
 <script type="text/javascript" src="./dog_files/jquery.js"></script>
 <script type="text/javascript" src="./dog_files/cleverdog.js"></script>
 <script  type="text/javascript" src="./dog_files/touch.js">  </script>
 <script  type="text/javascript">
  $(function(){        
    //获取要定位元素距离浏览器顶部的距离
    var navH = $(".nav").offset().top;
    //滚动条事件
    $(window).scroll(function(){
      //获取滚动条的滑动距离
      var scroH = $(this).scrollTop();
      //滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
      if(scroH>=navH){
        $(".nav").css({"position":"fixed","top":0,"left":0});
      }else if(scroH<navH){
        $(".nav").css({"position":"static","margin":"0 auto"});
      }
      //console.log(scroH==navH);
    })
  })
 </script>
</head>

<body>
 <div class="global">
 <!--------------------------------------------------------------->
  <div class="header">
   <a id="returnmain" href="./exe/returnIndex?mid=<% get_page(0);%>"><h1 class="logo logonews">机灵狗</h1></a>
	 <span class="gochannels"></span>
  </div>
   <div class="nav">
     <ul>
      <li class="<% get_ch(1); %>"><a href="./index.jst?mid=1">作业</a></li>
      <li class="<% get_ch(2); %>"><a href="./index.jst?mid=2">活动</a></li>
      <li class="<% get_ch(3); %>"><a href="./index.jst?mid=3">科普</a></li>
      <li class="<% get_ch(4); %>"><a href="./index.jst?mid=4">消息</a></li>
     </ul>
   </div>
 <!--------------------------------------------------------------->
  <div id="login" class="login"> 
    <div id="web_login" style="display: block;"> <!--web_login-->
      <form id="logmein" name="logmein">
        <ul id="g_list">
          <li id="g_u"><input id="username" class="inputstyle" name="username" autocomplete="off" placeholder="姓名" /></li> 
          <li id="g_p"><input id="password" class="inputstyle" maxlength="16" type="password" name="password" autocorrect="off" placeholder="学号" /></li>
        </ul>
        <div id="go" class="weak">登 录 </div> 
        <div href="javascript:void(0);" id="onekey" style="display: none;">一键登录 </div> 
      </form>
    </div> <!--web_login-->
    <div id="switch"> 
      <span id="zc" onclick="window.open('./register.html')">注册新帐号</span> 
      <span id="loginerror" ></span> 
      <span id="forgetpwd" onclick="window.open('./forgot.html')">忘了密码？</span> 
    </div> 
    <input id="user" name="admin" value="<% get_login(1); %>" showpage="hidden" hidden/>
  </div>
 <!--------------------------------------------------------------->
  </div><!--global-->
<!--------------------------------------------------------------->
 
  <div style="clear:both"></div>
  <div class="primary"><h1 class="title" id="mytitleDiv" ><% get_title(1); %></h1>
   <!--------------------------------------------------------------->
   <div class="meta">
    <span class="time"><% get_time(1); %></span>
    <span class="author"><% get_auth(1); %></span>
    <span class="contentbar">
      <a id="delete" href="./action/deletePage?mid=<% get_page(0);%>"><i class="delete" hidden></i></a>
      <a id="uploader" href="./upload.jst?mid=<% get_page(0);%>"><i class="uploader"  hidden></i></a>
      <i class="last"></i>
      <i class="next"></i>
    </span>
   </div>
   <!--------------------------------------------------------------->
   <div data-role="page" class="content fontlarge">
    <div class="image">
     <img src="<% get_pic(1); %>" id="imgsrc" />
    </div>
    <p class="split" id="mytextDiv"><% get_text(1); %></p>
   </div>
   <!--------------------------------------------------------------->
    <div class="textform" id="file-text" hidden>
      <form id="formpageText" >
        <div class="commenttext"> 
        <input class="titleform" type="text" id="pagetitle" name="mytitle" placeholder="主题"/>
        <textarea id="pagetext" name="mytext" placeholder="<% get_text(1); %>"> </textarea>
        <button id="upTxt" type="button" onclick="uploadTxt(this)" value=<% get_page(0);%> >发表</button>
        </div> 
      </form>
    </div>
   <!--------------------------------------------------------------->
  </div><!--primary-->
 <!--------------------------------------------------------------->
 <div class="comments">

  <div class="commentform" hidden> 
    <form id="myComment" class="commenttext">
      <textarea id="commenttexts" name="mytitle" placeholder="文明上网，理性发言"></textarea> 
      <input id="commenttext" type="text" name="mytext" value="comment" hidden></input>
      <button id="upComment" type="button" onclick="uploadComment(this)" value=<% get_page(0);%> >评论</button>
    </form>
  </div> 

  <div class="commenthead" id="comcount" buttom="1024" top="1" lst_id="<% get_page(0);%>"><h2>热门评论</h2></div>
  <div class="content">
   <ul class="commentlist">
   <script> loadComment("buttom");</script>
    <!-- comment here!-->
   </ul>
  </div>

  <div class="more">
   <p><span class="gochannel">查看更多评论</span></p>
  </div>

 </div><!-- comments-->
 <!--------------------------------------------------------------->
  <div class="footer">
   <div class="copyright"> Copyright © 1998 - 2015 CleverDog. All Rights Reserved</div>
  </div>
 <!--------------------------------------------------------------->
</body>

</html>
