<html>
<head>
<title>register.html</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <script type="text/javascript" src="./dog_files/jquery.js"></script>
 <script type="text/javascript" src="./dog_files/cleverdog.js"></script>
</head>
<body><font size="5">
  <p>请注册</p>
  <form id="registerform" name="registerform">
    中文姓名 <input type="text" id="username" name="username" value=''><br/>
    输入密码 <input type="password" id="password" name="password" value=''><br/>
    重复输入 <input type="password" id="confirm" name="confirm" value=''><br/>
    <button type="button" onclick="registerwebsite()"><font size="5">注册</button>
    <div id="loginmsg"></div>
  </form>
</body>
</html>
